<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="gilman" connectionString="Server=otk-dbdev-01;database=gilman;user id=gilman; password=3841;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="login.aspx"></forms> 
      </authentication>
      <authorization>
        <deny users="?"></deny>
      </authorization>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <membership defaultProvider="SqlMembership">
        <providers>
          <add name="SqlMembership" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Gilman" applicationName="CST465" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" />
        </providers>
      </membership>
    </system.web>

</configuration>
